In [1]:
docs = [
    '먹고 싶은 사과', # 문서0
    '먹고 싶은 바나나', # 문서1
    '길고 노란 바나나 바나나', # 문서2
    '저는 과일이 좋아요' # 문서3
]
docs

['먹고 싶은 사과', '먹고 싶은 바나나', '길고 노란 바나나 바나나', '저는 과일이 좋아요']

In [2]:
# CountVectorizer : TF 벡터 생성
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer() # Counter Vectorizer 객체 생성
vect

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [3]:
# 문장을 Counter Vectorizer 형태로 변형
countvect = vect.fit_transform(docs)
countvect

<4x9 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [4]:
# toarray()를 통해서 문장이 Vector 형태의 값을 얻을 수 있음
# 하지만, 각 인덱스와 컬럼이 무엇을 의미하는지에 대해서는 알 수가 없음
# sparse matrix -> numpy
countvect.toarray()

array([[0, 0, 0, 1, 0, 1, 1, 0, 0],
       [0, 0, 0, 1, 1, 0, 1, 0, 0],
       [0, 1, 1, 0, 2, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 1, 1]])

In [5]:
vect.vocabulary_

{'과일이': 0,
 '길고': 1,
 '노란': 2,
 '먹고': 3,
 '바나나': 4,
 '사과': 5,
 '싶은': 6,
 '저는': 7,
 '좋아요': 8}

In [6]:
# sorted라는 함수를 통해서 단어를 정렬
sorted(vect.vocabulary_)

['과일이', '길고', '노란', '먹고', '바나나', '사과', '싶은', '저는', '좋아요']

In [7]:
import pandas as pd
countvect_df = pd.DataFrame(countvect.toarray(), columns=sorted(vect.vocabulary_))
countvect_df.index = ['문서1', '문서2', '문서3', '문서4']
countvect_df

     과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
문서1    0   0   0   1    0   1   1   0    0
문서2    0   0   0   1    1   0   1   0    0
문서3    0   1   1   0    2   0   0   0    0
문서4    1   0   0   0    0   0   0   1    1

In [8]:
# 위의 Data Frame 형태의 유사도를 계산
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(countvect_df, countvect_df)

array([[1.        , 0.66666667, 0.        , 0.        ],
       [0.66666667, 1.        , 0.47140452, 0.        ],
       [0.        , 0.47140452, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        ]])

In [9]:
# CountVectorizer -> TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer()
tfvect = vect.fit(docs)
tfvect

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [10]:
tfidv_df = pd.DataFrame(tfvect.transform(docs).toarray(), columns=sorted(vect.vocabulary_))
tfidv_df.index = ['문서1', '문서2', '문서3', '문서4']
tfidv_df

         과일이       길고       노란        먹고  ...        사과        싶은       저는      좋아요
문서1  0.00000  0.00000  0.00000  0.526405  ...  0.667679  0.526405  0.00000  0.00000
문서2  0.00000  0.00000  0.00000  0.577350  ...  0.000000  0.577350  0.00000  0.00000
문서3  0.00000  0.47212  0.47212  0.000000  ...  0.000000  0.000000  0.00000  0.00000
문서4  0.57735  0.00000  0.00000  0.000000  ...  0.000000  0.000000  0.57735  0.57735

[4 rows x 9 columns]

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(tfidv_df, tfidv_df)

array([[1.        , 0.60784064, 0.        , 0.        ],
       [0.60784064, 1.        , 0.42980824, 0.        ],
       [0.        , 0.42980824, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        ]])

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer(max_features=4)
tfvect = vect.fit(docs)

In [13]:
tfidv_df = pd.DataFrame(tfvect.transform(docs).toarray(), columns=sorted(vect.vocabulary_))
tfidv_df.index = '문서1 문서2 문서3 문서4'.split()
tfidv_df

     과일이        먹고      바나나        싶은
문서1  0.0  0.707107  0.00000  0.707107
문서2  0.0  0.577350  0.57735  0.577350
문서3  0.0  0.000000  1.00000  0.000000
문서4  1.0  0.000000  0.00000  0.000000

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
import numpy as np

In [16]:
import os
print(os.listdir('/content/drive/MyDrive/Colab_Notebooks/dataset/recommendation/movies/'))

['movies_metadata.csv', 'ratings.csv']

In [17]:
path = '/content/drive/MyDrive/Colab_Notebooks/dataset/recommendation/movies/'

In [18]:
data = pd.read_csv(path + 'movies_metadata.csv', low_memory=False)
data.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [19]:
data['overview'].head() # 이 영화가 어떤 영화인지 설명

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [20]:
# data의 항목 추출
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [21]:
data['overview'].notnull() # 결측치가 없으면 True, 있으면 False

0        True
1        True
2        True
3        True
4        True
         ...
45461    True
45462    True
45463    True
45464    True
45465    True
Name: overview, Length: 45466, dtype: bool

In [22]:
# 전처리
# overview의 결측치가 있는 항목은 모두 제거
data = data[data['overview'].notnull()].reset_index(drop=True)
data.shape

(44512, 24)

In [23]:
data = data.loc[0:40000].reset_index(drop=True)

In [24]:
# 불용어 : 유의미하지 않은 단어 토큰을 제거
# htps://wikidocs.net/22530
tfidf = TfidfVectorizer(stop_words='english')

# overwrite에 대해서 tf-idf 수행
tfidf_matrix = tfidf.fit_transform(data['overview'])
print(tfidf_matrix.shape)

(40001, 71257)

In [25]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_matrix = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [26]:
cosine_matrix.shape

(40001, 40001)

In [27]:
np.round(cosine_matrix, 4)

array([[1.    , 0.0151, 0.    , ..., 0.0329, 0.    , 0.    ],
       [0.0151, 1.    , 0.0472, ..., 0.    , 0.0167, 0.059 ],
       [0.    , 0.0472, 1.    , ..., 0.    , 0.    , 0.    ],
       ...,
       [0.0329, 0.    , 0.    , ..., 1.    , 0.    , 0.    ],
       [0.    , 0.0167, 0.    , ..., 0.    , 1.    , 0.    ],
       [0.    , 0.059 , 0.    , ..., 0.    , 0.    , 1.    ]])

In [28]:
# cosine matrix
# 인덱스 0 -> 1 -> 2 ... -> 20001
# 0 인덱스 : 0 번째 id 영화

movie2id = {}
for i, c in enumerate(data['title']): movie2id[i] = c

id2movie = {}
for i, c in movie2id.items(): id2movie[c] = i

In [29]:
idx = id2movie['Toy Story'] # Toy Story : 0번 인덱스
idx

0

In [30]:
cosine_matrix[0]

array([1.        , 0.01511816, 0.        , ..., 0.03293361, 0.        ,
       0.        ])

In [31]:
# Toy Story의 id 호출
idx = id2movie['Toy Story'] # Toy Story : 0번 인덱스
sim_scores = [(i, c) for i, c in enumerate(cosine_matrix[idx]) if i != idx] # 자기 자신(1) 을 제외한 영화들의 유사도 및 인덱스를 추출
sim_scores

[(1, 0.015118161333979299),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.0),
 (6, 0.0),
 (7, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (11, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.0),
 (17, 0.038730470991734656),
 (18, 0.0),
 (19, 0.0),
 (20, 0.009784153884570742),
 (21, 0.0),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (26, 0.0),
 (27, 0.0),
 (28, 0.0),
 (29, 0.0),
 (30, 0.0),
 (31, 0.0),
 (32, 0.018684767445681365),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (36, 0.0),
 (37, 0.0),
 (38, 0.0),
 (39, 0.0),
 (40, 0.0),
 (41, 0.006335701108570893),
 (42, 0.0),
 (43, 0.0),
 (44, 0.008937728507784504),
 (45, 0.0),
 (46, 0.0),
 (47, 0.0),
 (48, 0.01308661028572924),
 (49, 0.009287967771036805),
 (50, 0.010704384446012585),
 (51, 0.0),
 (52, 0.0),
 (53, 0.019798557304722943),
 (54, 0.0),
 (55, 0.025243182246308275),
 (56, 0.020735349318797777),
 (57, 0.0),
 (58, 0.033784327021970824),
 (59, 0.0),
 (60, 0.0),
 (61, 0.007805145165360473),
 (62, 0.0),
 (63, 0.009620196602825655),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.010170314504114068),
 (76, 0.0),
 (77, 0.0),
 (78, 0.0),
 (79, 0.0),
 (80, 0.010018545066882725),
 (81, 0.01465911566292568),
 (82, 0.026326988283724585),
 (83, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (87, 0.0),
 (88, 0.010530923018005617),
 (89, 0.0),
 (90, 0.011075016314783158),
 (91, 0.0),
 (92, 0.0),
 (93, 0.0),
 (94, 0.0),
 (95, 0.0),
 (96, 0.0),
 (97, 0.0),
 (98, 0.0),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0),
 (102, 0.0),
 (103, 0.0),
 (104, 0.013767685098296172),
 (105, 0.0),
 (106, 0.0),
 (107, 0.01612483324321662),
 (108, 0.0),
 (109, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (117, 0.0),
 (118, 0.0),
 (119, 0.0),
 (120, 0.0),
 (121, 0.0),
 (122, 0.0),
 (123, 0.0),
 (124, 0.018955905449242163),
 (125, 0.0),
 (126, 0.0),
 (127, 0.024575634209701),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (131, 0.012301271491027225),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (136, 0.0),
 (137, 0.009990125057145928),
 (138, 0.019875659083929183),
 (139, 0.0),
 (140, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.0),
 (148, 0.0),
 (149, 0.01661242128944961),
 (150, 0.0),
 (151, 0.0),
 (152, 0.0),
 (153, 0.0),
 (154, 0.00659226733064831),
 (155, 0.0),
 (156, 0.0),
 (157, 0.0),
 (158, 0.0),
 (159, 0.0),
 (160, 0.0),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.0),
 (165, 0.0),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.0),
 (170, 0.01779862996723942),
 (171, 0.0),
 (172, 0.02078037306619609),
 (173, 0.0),
 (174, 0.0),
 (175, 0.00866603895668557),
 (176, 0.0),
 (177, 0.0),
 (178, 0.0),
 (179, 0.06320094101154597),
 (180, 0.0),
 (181, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.0),
 (185, 0.0),
 (186, 0.01191237111581102),
 (187, 0.0),
 (188, 0.0),
 (189, 0.0),
 (190, 0.0),
 (191, 0.0),
 (192, 0.0),
 (193, 0.0),
 (194, 0.0),
 (195, 0.0),
 (196, 0.0),
 (197, 0.0),
 (198, 0.0),
 (199, 0.0),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.0),
 (205, 0.008413446040693627),
 (206, 0.0),
 (207, 0.0),
 (208, 0.0),
 (209, 0.0),
 (210, 0.0),
 (211, 0.0),
 (212, 0.0),
 (213, 0.0),
 (214, 0.02407557358336985),
 (215, 0.0),
 (216, 0.0),
 (217, 0.0),
 (218, 0.0),
 (219, 0.0),
 (220, 0.0),
 (221, 0.0),
 (222, 0.02158787526313525),
 (223, 0.0),
 (224, 0.0),
 (225, 0.025625555305532885),
 (226, 0.02327314340051556),
 (227, 0.0),
 (228, 0.021365521883029804),
 (229, 0.008448032631685257),
 (230, 0.0),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.0),
 (235, 0.0),
 (236, 0.0),
 (237, 0.0),
 (238, 0.0),
 (239, 0.0),
 (240, 0.0),
 (241, 0.0),
 (242, 0.0),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.0),
 (253, 0.010517137887805785),
 (254, 0.0),
 (255, 0.020502914020858635),
 (256, 0.023924827147988496),
 (257, 0.0),
 (258, 0.0),
 (259, 0.0),
 (260, 0.0),
 (261, 0.0),
 (262, 0.0),
 (263, 0.0),
 (264, 0.0),
 (265, 0.016516670499367538),
 (266, 0.0),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.0),
 (271, 0.011541738589927896),
 (272, 0.0),
 (273, 0.011807308652844538),
 (274, 0.0),
 (275, 0.0),
 (276, 0.013836417559651391),
 (277, 0.0),
 (278, 0.0),
 (279, 0.0),
 (280, 0.0),
 (281, 0.0),
 (282, 0.0),
 (283, 0.0),
 (284, 0.0),
 (285, 0.0),
 (286, 0.031873738167204305),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.011135098010923676),
 (294, 0.0),
 (295, 0.0),
 (296, 0.0),
 (297, 0.0),
 (298, 0.0),
 (299, 0.0),
 (300, 0.0),
 (301, 0.03253603389557852),
 (302, 0.015590368249519239),
 (303, 0.0),
 (304, 0.018148948319349045),
 (305, 0.0),
 (306, 0.012408750183988744),
 (307, 0.0),
 (308, 0.020727005329839846),
 (309, 0.0),
 (310, 0.0),
 (311, 0.0130715132113409),
 (312, 0.06405921551161116),
 (313, 0.0),
 (314, 0.0),
 (315, 0.013162564016972782),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0),
 (320, 0.0),
 (321, 0.0),
 (322, 0.0),
 (323, 0.018230839930440453),
 (324, 0.0),
 (325, 0.0),
 (326, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.0),
 (330, 0.0),
 (331, 0.0),
 (332, 0.0),
 (333, 0.0),
 (334, 0.0),
 (335, 0.0),
 (336, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.0),
 (340, 0.0),
 (341, 0.00815168026392763),
 (342, 0.0),
 (343, 0.012591412276771616),
 (344, 0.0),
 (345, 0.0),
 (346, 0.0),
 (347, 0.0),
 (348, 0.0100456884175462),
 (349, 0.0),
 (350, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.0),
 (354, 0.0),
 (355, 0.023302943359020105),
 (356, 0.0),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.0),
 (362, 0.0),
 (363, 0.0),
 (364, 0.0),
 (365, 0.0),
 (366, 0.0),
 (367, 0.0),
 (368, 0.04535656204038206),
 (369, 0.0),
 (370, 0.0),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.013184687992317746),
 (377, 0.0),
 (378, 0.008764766627091485),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.0),
 (387, 0.015263180502393241),
 (388, 0.0),
 (389, 0.0),
 (390, 0.0),
 (391, 0.0),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0),
 (400, 0.012090484554978992),
 (401, 0.0),
 (402, 0.0),
 (403, 0.0),
 (404, 0.0),
 (405, 0.0),
 (406, 0.0),
 (407, 0.0),
 (408, 0.0),
 (409, 0.0),
 (410, 0.0),
 (411, 0.0),
 (412, 0.0),
 (413, 0.0),
 (414, 0.0),
 (415, 0.0),
 (416, 0.0),
 (417, 0.0),
 (418, 0.0),
 (419, 0.010531083000603209),
 (420, 0.0),
 (421, 0.0),
 (422, 0.0),
 (423, 0.0),
 (424, 0.0),
 (425, 0.03618655411928663),
 (426, 0.0),
 (427, 0.01952989077794721),
 (428, 0.00914112332488742),
 (429, 0.0),
 (430, 0.0),
 (431, 0.0),
 (432, 0.0),
 (433, 0.006287202954202863),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.0),
 (439, 0.03247932080397296),
 (440, 0.009549434807190657),
 (441, 0.0),
 (442, 0.0),
 (443, 0.0),
 (444, 0.0),
 (445, 0.0),
 (446, 0.11604119696946397),
 (447, 0.0),
 (448, 0.028173613575521946),
 (449, 0.0),
 (450, 0.01403673415932296),
 (451, 0.0),
 (452, 0.0),
 (453, 0.0),
 (454, 0.0),
 (455, 0.0),
 (456, 0.0),
 (457, 0.0),
 (458, 0.010760178876250312),
 (459, 0.0),
 (460, 0.0),
 (461, 0.0),
 (462, 0.0),
 (463, 0.017401271142451227),
 (464, 0.0),
 (465, 0.011764691278482132),
 (466, 0.0),
 (467, 0.0),
 (468, 0.0),
 (469, 0.0),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0),
 (473, 0.0),
 (474, 0.03868506334559796),
 (475, 0.0),
 (476, 0.0),
 (477, 0.0),
 (478, 0.0),
 (479, 0.0),
 (480, 0.0),
 (481, 0.0),
 (482, 0.0),
 (483, 0.13590513241323254),
 (484, 0.0),
 (485, 0.0),
 (486, 0.0),
 (487, 0.0),
 (488, 0.0),
 (489, 0.0),
 (490, 0.03906028990524998),
 (491, 0.0),
 (492, 0.0),
 (493, 0.013453089316148236),
 (494, 0.0),
 (495, 0.016439754732343277),
 (496, 0.014201899224383894),
 (497, 0.0),
 (498, 0.0),
 (499, 0.0),
 (500, 0.0),
 (501, 0.0),
 (502, 0.0),
 (503, 0.0),
 (504, 0.0),
 (505, 0.0),
 (506, 0.011149677055776052),
 (507, 0.0),
 (508, 0.0),
 (509, 0.0),
 (510, 0.020079140279172274),
 (511, 0.0),
 (512, 0.0),
 (513, 0.0),
 (514, 0.0),
 (515, 0.0),
 (516, 0.009997277599614031),
 (517, 0.0),
 (518, 0.0),
 (519, 0.0),
 (520, 0.0),
 (521, 0.00993831415260116),
 (522, 0.0),
 (523, 0.0),
 (524, 0.021738453781924332),
 (525, 0.0),
 (526, 0.0),
 (527, 0.0),
 (528, 0.0),
 (529, 0.006479938733375872),
 (530, 0.0),
 (531, 0.0),
 (532, 0.0),
 (533, 0.01995795117684764),
 (534, 0.0),
 (535, 0.007748751585943616),
 (536, 0.0),
 (537, 0.0),
 (538, 0.0),
 (539, 0.0111674653990476),
 (540, 0.0),
 (541, 0.0),
 (542, 0.0),
 (543, 0.015162035607845781),
 (544, 0.0),
 (545, 0.0),
 (546, 0.0),
 (547, 0.0),
 (548, 0.0),
 (549, 0.0),
 (550, 0.0),
 (551, 0.0),
 (552, 0.0),
 (553, 0.0),
 (554, 0.0),
 (555, 0.020795008524171685),
 (556, 0.0),
 (557, 0.01037029132327878),
 (558, 0.0),
 (559, 0.020610570364468055),
 (560, 0.0),
 (561, 0.0),
 (562, 0.0),
 (563, 0.006079361818565446),
 (564, 0.0),
 (565, 0.0),
 (566, 0.0),
 (567, 0.0),
 (568, 0.0),
 (569, 0.0),
 (570, 0.0),
 (571, 0.0),
 (572, 0.0),
 (573, 0.0),
 (574, 0.0),
 (575, 0.010801664570467533),
 (576, 0.024468385506694886),
 (577, 0.0),
 (578, 0.010387626500626622),
 (579, 0.0),
 (580, 0.0),
 (581, 0.0),
 (582, 0.0),
 (583, 0.0),
 (584, 0.0),
 (585, 0.0),
 (586, 0.01636086313430897),
 (587, 0.009044859032002903),
 (588, 0.039134570333131335),
 (589, 0.06301398481980794),
 (590, 0.0),
 (591, 0.0),
 (592, 0.0),
 (593, 0.008246694647330811),
 (594, 0.0),
 (595, 0.0),
 (596, 0.0),
 (597, 0.0),
 (598, 0.0),
 (599, 0.0),
 (600, 0.0),
 (601, 0.0),
 (602, 0.0),
 (603, 0.02797301153868534),
 (604, 0.0),
 (605, 0.0),
 (606, 0.01984594386790059),
 (607, 0.0),
 (608, 0.0),
 (609, 0.0),
 (610, 0.010060217103757912),
 (611, 0.007591252110270398),
 (612, 0.0),
 (613, 0.0),
 (614, 0.0),
 (615, 0.01694907851276683),
 (616, 0.0),
 (617, 0.035387499195138936),
 (618, 0.0),
 (619, 0.04217386632452218),
 (620, 0.0),
 (621, 0.0),
 (622, 0.0),
 (623, 0.0),
 (624, 0.0),
 (625, 0.0),
 (626, 0.0),
 (627, 0.0),
 (628, 0.0),
 (629, 0.0),
 (630, 0.0),
 (631, 0.0),
 (632, 0.0),
 (633, 0.0),
 (634, 0.0),
 (635, 0.0),
 (636, 0.0),
 (637, 0.0),
 (638, 0.022610905675160494),
 (639, 0.0),
 (640, 0.011087436399420732),
 (641, 0.019756594177214065),
 (642, 0.008881168417239215),
 (643, 0.0),
 (644, 0.0),
 (645, 0.0),
 (646, 0.0),
 (647, 0.0),
 (648, 0.0),
 (649, 0.009095227496611683),
 (650, 0.015548557261244942),
 (651, 0.007083184303572534),
 (652, 0.0),
 (653, 0.0),
 (654, 0.0),
 (655, 0.0),
 (656, 0.0),
 (657, 0.0),
 (658, 0.0),
 (659, 0.0),
 (660, 0.0),
 (661, 0.0),
 (662, 0.0),
 (663, 0.0),
 (664, 0.0),
 (665, 0.0),
 (666, 0.0),
 (667, 0.0),
 (668, 0.0),
 (669, 0.0),
 (670, 0.0),
 (671, 0.0),
 (672, 0.0),
 (673, 0.0),
 (674, 0.0),
 (675, 0.0),
 (676, 0.0),
 (677, 0.0),
 (678, 0.0),
 (679, 0.010224251504147415),
 (680, 0.0),
 (681, 0.0),
 (682, 0.0),
 (683, 0.0),
 (684, 0.0),
 (685, 0.0),
 (686, 0.0),
 (687, 0.0),
 (688, 0.012015729233754229),
 (689, 0.009813682868818072),
 (690, 0.01173222791592476),
 (691, 0.0),
 (692, 0.01427578532753611),
 (693, 0.0),
 (694, 0.0),
 (695, 0.0),
 (696, 0.0),
 (697, 0.0),
 (698, 0.0),
 (699, 0.0),
 (700, 0.0),
 (701, 0.0),
 (702, 0.0),
 (703, 0.0),
 (704, 0.0),
 (705, 0.0),
 (706, 0.009050031638921971),
 (707, 0.0),
 (708, 0.0),
 (709, 0.0),
 (710, 0.0),
 (711, 0.0),
 (712, 0.01247393830912528),
 (713, 0.009736673251799725),
 (714, 0.0),
 (715, 0.0),
 (716, 0.013675894421987623),
 (717, 0.0),
 (718, 0.0),
 (719, 0.01010976102266923),
 (720, 0.014231776758799499),
 (721, 0.0),
 (722, 0.0),
 (723, 0.0),
 (724, 0.0),
 (725, 0.027632609772215398),
 (726, 0.0),
 (727, 0.008184743152781454),
 (728, 0.0),
 (729, 0.0),
 (730, 0.0),
 (731, 0.0),
 (732, 0.010131839983528968),
 (733, 0.0),
 (734, 0.0),
 (735, 0.0),
 (736, 0.0),
 (737, 0.03130691704303445),
 (738, 0.0),
 (739, 0.011093543618064366),
 (740, 0.0),
 (741, 0.07701200630714478),
 (742, 0.0),
 (743, 0.03251483264382181),
 (744, 0.0),
 (745, 0.0),
 (746, 0.0),
 (747, 0.0),
 (748, 0.0),
 (749, 0.0),
 (750, 0.02220708037824954),
 (751, 0.026790339677021435),
 (752, 0.0),
 (753, 0.0),
 (754, 0.0),
 (755, 0.0),
 (756, 0.0),
 (757, 0.0),
 (758, 0.0),
 (759, 0.0),
 (760, 0.0),
 (761, 0.00978977868025402),
 (762, 0.0),
 (763, 0.0),
 (764, 0.0),
 (765, 0.0),
 (766, 0.0),
 (767, 0.0),
 (768, 0.03794415000680566),
 (769, 0.0),
 (770, 0.0),
 (771, 0.0),
 (772, 0.0),
 (773, 0.0),
 (774, 0.0),
 (775, 0.0),
 (776, 0.0),
 (777, 0.0),
 (778, 0.0),
 (779, 0.0),
 (780, 0.0),
 (781, 0.0),
 (782, 0.0),
 (783, 0.0),
 (784, 0.009645116503583486),
 (785, 0.0),
 (786, 0.0),
 (787, 0.0),
 (788, 0.0),
 (789, 0.0),
 (790, 0.0),
 (791, 0.0),
 (792, 0.0),
 (793, 0.015919639068490306),
 (794, 0.0),
 (795, 0.014203885027003456),
 (796, 0.0),
 (797, 0.0),
 (798, 0.01673886878223103),
 (799, 0.0),
 (800, 0.0),
 (801, 0.0),
 (802, 0.0),
 (803, 0.0),
 (804, 0.0),
 (805, 0.0),
 (806, 0.0),
 (807, 0.0),
 (808, 0.0),
 (809, 0.0),
 (810, 0.008862661857837243),
 (811, 0.0),
 (812, 0.0),
 (813, 0.0),
 (814, 0.039556100943471936),
 (815, 0.0),
 (816, 0.0),
 (817, 0.01721467360224182),
 (818, 0.020262279222970338),
 (819, 0.0),
 (820, 0.010731832046058522),
 (821, 0.009966081152916398),
 (822, 0.018762644976456865),
 (823, 0.0),
 (824, 0.01382979400785851),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0),
 (828, 0.0),
 (829, 0.0),
 (830, 0.010219553191846436),
 (831, 0.0),
 (832, 0.014164173417152894),
 (833, 0.0),
 (834, 0.0),
 (835, 0.0),
 (836, 0.0),
 (837, 0.009483453377394481),
 (838, 0.0),
 (839, 0.0),
 (840, 0.0),
 (841, 0.0),
 (842, 0.011773370854341996),
 (843, 0.0),
 (844, 0.0),
 (845, 0.0),
 (846, 0.0),
 (847, 0.0),
 (848, 0.0),
 (849, 0.013215726466766485),
 (850, 0.0),
 (851, 0.014478280858798437),
 (852, 0.0),
 (853, 0.0),
 (854, 0.0),
 (855, 0.0),
 (856, 0.0),
 (857, 0.0),
 (858, 0.011591672895399552),
 (859, 0.0),
 (860, 0.0),
 (861, 0.0),
 (862, 0.0),
 (863, 0.014992611175297623),
 (864, 0.0),
 (865, 0.0),
 (866, 0.009810044827961589),
 (867, 0.006241126115941834),
 (868, 0.0),
 (869, 0.0),
 (870, 0.012679431376757712),
 (871, 0.018554598143496928),
 (872, 0.0),
 (873, 0.0),
 (874, 0.0),
 (875, 0.0),
 (876, 0.0),
 (877, 0.0),
 (878, 0.0),
 (879, 0.0),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.0),
 (884, 0.0),
 (885, 0.0),
 (886, 0.0),
 (887, 0.0),
 (888, 0.0),
 (889, 0.0),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.0),
 (894, 0.0),
 (895, 0.0),
 (896, 0.0),
 (897, 0.0),
 (898, 0.0),
 (899, 0.0),
 (900, 0.0),
 (901, 0.0),
 (902, 0.0),
 (903, 0.0),
 (904, 0.02734409878382514),
 (905, 0.0),
 (906, 0.0),
 (907, 0.0),
 (908, 0.0),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0),
 (912, 0.0),
 (913, 0.0),
 (914, 0.0),
 (915, 0.0),
 (916, 0.05525106737257772),
 (917, 0.0),
 (918, 0.0),
 (919, 0.0),
 (920, 0.025954124575603865),
 (921, 0.0),
 (922, 0.016668914211096102),
 (923, 0.0),
 (924, 0.0),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.00623384150819582),
 (929, 0.0),
 (930, 0.0),
 (931, 0.0),
 (932, 0.0),
 (933, 0.016401726426458412),
 (934, 0.0),
 (935, 0.011153638100509601),
 (936, 0.0),
 (937, 0.011689839088129485),
 (938, 0.0),
 (939, 0.0),
 (940, 0.0),
 (941, 0.0),
 (942, 0.0),
 (943, 0.017674114339323924),
 (944, 0.0),
 (945, 0.0),
 (946, 0.007901694925430415),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0),
 (950, 0.010871532498283182),
 (951, 0.0),
 (952, 0.0),
 (953, 0.0),
 (954, 0.0),
 (955, 0.0),
 (956, 0.0),
 (957, 0.0),
 (958, 0.0),
 (959, 0.0),
 (960, 0.0),
 (961, 0.0),
 (962, 0.012137196430794448),
 (963, 0.0),
 (964, 0.0),
 (965, 0.0),
 (966, 0.0),
 (967, 0.010386158814152153),
 (968, 0.0),
 (969, 0.0),
 (970, 0.0),
 (971, 0.0),
 (972, 0.0),
 (973, 0.0),
 (974, 0.0),
 (975, 0.0),
 (976, 0.0),
 (977, 0.0),
 (978, 0.0),
 (979, 0.0),
 (980, 0.010231572900396693),
 (981, 0.0),
 (982, 0.0),
 (983, 0.023771396629974902),
 (984, 0.0),
 (985, 0.0),
 (986, 0.0),
 (987, 0.009957681047340303),
 (988, 0.014341596088702955),
 (989, 0.0),
 (990, 0.0),
 (991, 0.0),
 (992, 0.0),
 (993, 0.0),
 (994, 0.0),
 (995, 0.0),
 (996, 0.0),
 (997, 0.0),
 (998, 0.0),
 (999, 0.0),
 (1000, 0.0),
 ...]

In [32]:
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) # 유사도(x[1])가 높은 순서대로 정렬
sim_scores[0:10] # 상위 10개의 인덱스와 유사도를 추출

[(15282, 0.5302305777345263),
 (2979, 0.47040869969461174),
 (10271, 0.2761173868151379),
 (24316, 0.2681710907595272),
 (23646, 0.2367941443417645),
 (28893, 0.2216127763454472),
 (37778, 0.2168826902243731),
 (8303, 0.20024011436825886),
 (26945, 0.18281578621604597),
 (1058, 0.17997744529873472)]

Toy Story overview 기준으로 TF-IDF 정렬한 결과

In [33]:
sim_scores = [(movie2id[i], score) for i, score in sim_scores[0:10]]
sim_scores

[('Toy Story 3', 0.5302305777345263),
 ('Toy Story 2', 0.47040869969461174),
 ('The 40 Year Old Virgin', 0.2761173868151379),
 ('Small Fry', 0.2681710907595272),
 ("Andy Hardy's Blonde Trouble", 0.2367941443417645),
 ('Hot Splash', 0.2216127763454472),
 ('Superstar: The Life and Times of Andy Warhol', 0.2168826902243731),
 ('The Champ', 0.20024011436825886),
 ('Life Begins for Andy Hardy', 0.18281578621604597),
 ('Rebel Without a Cause', 0.17997744529873472)]